<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="Guard" version="1.0.1.27711" targetFramework="net45" developmentDependency="true" />
    <package id="String.FormatWith" version="1.0.23.9348" targetFramework="net45" developmentDependency="true" />
    <package id="Type.ToString" version="1.0.2.27798" targetFramework="net45" developmentDependency="true" />
</packages>